.card {
    border: none;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px dotted #ccc;
}

.rounded-circle {
    max-height: 50px;
}
