img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
  box-sizing: border-box !important;
}

.nv-file-over {
  border: dotted 3px red;
}

input[type=file] {
  color: rgba(0, 0, 0, 0.0) !important;
}
